﻿@{
    ViewBag.Title = "Home Page";
}

<div style="margin-top:20px;">
    <div>
        <div id="map" style="height:530px;"></div>
        <div style="margin-top:5px;">
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        var loadTreeData = function () {
            $.post('@Url.Action("RenderAreaChart")', function (result) {
                var visualization = d3plus.viz()
                  .container("#map")  // container DIV to hold the visualization
                  .data(result)  // data to use with the visualization
                  .type("stacked")    // visualization type
                  .id(["Country", "Product"])
                    .size("Premium")// key for which our data is unique on
                  //.text("Country")       // key to use for display text
                  .y("Premium")         // key to use for y-axis
                  .x("Year")          // key to use for x-axis
                  .time("Year")       // key to use for time
                  .draw()
            });
        }();
    });
</script>