﻿@{
    ViewBag.Title = "Home Page";
    var years = ViewBag.Years as List<SelectListItem>;
}

<div style="margin-top:10px;">
    Year:@Html.DropDownList("Years", years)
</div>

<div style="margin-top:20px;">
    <div>
        <div id="map" style="height:530px;"></div>
        <div style="margin-top:5px;">
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        var loadTreeData = function (year) {
            if (!year)
                year = $("#Years").val();
            $.post('@Url.Action("RenderTreeMap")', { year: year }, function (result) {
                d3plus.viz().container("#map").data(result).type("tree_map").id(["Country", "Product"]).size("Premium").labels({ "align": "left", "valign": "top" }).draw();
            });
        };
        loadTreeData();
        $(document).on("change", "#Years", function () {
            var year = $(this).val();
            loadTreeData(year);
        });
    });
</script>